@page "/sell"
@inject IViewProductsByNameUseCase ViewProductsByNameUseCase
@inject ISellProductUseCase SellProductUseCase
@inject IViewProductByIdUseCase ViewProductByIdUseCase
@inject IJSRuntime JSRuntime

@attribute [Authorize(Policy = "Sales")]


<h3>Sell Product</h3>
<br />

<EditForm id="sell-form" Model="sellViewModel" OnValidSubmit="Sell">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <ValidationSummary></ValidationSummary>

    <div class="card">
        <div class="card-body">
            <div class="form-group">
                <label for="po">Sales Order #</label>
                <InputText id="po" @bind-Value="sellViewModel.SalesOrderNumber" class="form-control"></InputText>
            </div>
            <br />
            <div class="form-group">
                <AutoCompleteComponent Label="Product to Sell"
                                       SearchFunction="SearchProduct"
                                       OnItemSelected="OnItemSelected"></AutoCompleteComponent>
                <input type="hidden" value="@sellViewModel.ProductId" />
                @if (sellViewModel.ProductId > 0 && sellViewModel.UnitPrice >= 0)
                {
                    <text>Price:</text>
                    @sellViewModel.UnitPrice.ToString("C")
                    ;
                }
            </div>
        </div>
    </div>
    <br />
    <div class="form-group">
        <label for="qty">Quantity</label>
        <InputNumber id="qty" @bind-Value="sellViewModel.QuantityToSell" class="form-control"></InputNumber>
    </div>
    <br />
    <div class="form-group">
        <label for="price">Price</label>
        <InputNumber id="price" @bind-Value="sellViewModel.UnitPrice" class="form-control"></InputNumber>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Sell</button>
</EditForm>


@code {

    private AuthenticationState authenticationState;

    [CascadingParameter]
    private Task<AuthenticationState>? authenticationStateTask { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (authenticationStateTask != null)
        {
            authenticationState = await authenticationStateTask;
        }
    }

    private SellViewModel sellViewModel = new SellViewModel();
    private Product? selectedProduct = null;

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);

        if (firstRender)
        {
            JSRuntime.InvokeVoidAsync("PreventFormSubmition", "sell-form");
        }
    }

    private async Task Sell()
    {
        if (selectedProduct != null && authenticationState != null
            && !string.IsNullOrWhiteSpace(authenticationState.User?.Identity?.Name))
        {
            await SellProductUseCase.ExecuteAsync(
                  sellViewModel.SalesOrderNumber,
                  selectedProduct,
                  sellViewModel.QuantityToSell,
                  sellViewModel.UnitPrice,
                  authenticationState.User.Identity.Name);
        }

        sellViewModel = new SellViewModel();
        selectedProduct = null;
    }

    private async Task<List<ItemViewModel>?> SearchProduct(string name)
    {
        var list = await ViewProductsByNameUseCase.ExecuteAsync(name);

        if (list == null)
        {
            return null;
        }

        return list.Select(x => new ItemViewModel { Id = x.ProductId, Name = x.ProductName })?.ToList();
    }

    private async Task OnItemSelected(ItemViewModel item)
    {
        selectedProduct = await ViewProductByIdUseCase.ExecuteAsync(item.Id);
        sellViewModel.ProductId = item.Id;
        sellViewModel.Product = selectedProduct;
        sellViewModel.UnitPrice = selectedProduct.Price;
    }
}
